<div class="d-flex justify-content-center h-100 ">
  <div class="container-fluid">
    <div class="row g-2 justify-content-center">
      <div class="col-lg-6 col-md-11">
        <div class="p-3">
          <%= link_to "Find my F* Package", profile_path, class: "btn btn-primary btn-lg col-12 p-3" %>
        </div>
      </div>
    </div>
    <div class="row g-2 justify-content-center">
      <div class="col-lg-6 col-md-11">
        <div class="p-3">
          <%= link_to "I Recieved a F* Package", received_path, class: "btn btn-primary btn-lg col-12 p-3" %>
        </div>
      </div>
    </div>
    <% if !user_signed_in? %>
    <div class="row g-2 justify-content-center">
      <div class="col-lg-6 col-md-11">
        <div class="row g-2 justify-content-center">
          <%= link_to "Login / Register", new_user_registration_path, class: "btn btn-primary btn-lg col-8 col-4" %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
