<div class="container">
  <div>
    <%= link_to "Find my F* Package", find_path, class: "btn btn-gradient" %>
  </div>
  <div>
    <%= link_to "I Recieved a F* Package", received_path, class: "btn btn-gradient" %>
  </div>
  <div>
    <%= link_to "Login / Register", new_user_registration_path, class: "btn btn-gradient" %>
  </div>

</div>
